{%  extends  'base.html.twig'  %}
{%block body%}
<CENTER><h1>Ajouter un evenement</h1></CENTER>
<div  style="justify-content:center;margin-top: -300px; padding: 400px;">
{{form(form,{'attr': {'novalidate': 'novalidate'}})}}
{% endblock %}