{% extends 'base.html.twig' %}




{% block body %}
<div  style="display: flex;justify-content: center;">
<h1>Edit Reponse</h1>
<div  style="display: flex;align-items: center;justify-content: center;margin-top: 150px; padding: 10px;">

 
    

    {{ include('reponse/_form.html.twig', {'submit': 'Update'}) }}

    <a href="{{ path('app_reponse_index') }}" <button type="submit" class="btn btn-primary">retourner a la liste</a>

    {{ include('reponse/_delete_form.html.twig') }}
{% endblock %}
