{%  extends  'base.html.twig'  %}
{%block body%}
<h1>Modifier un sponsor</h1>
<div  style="display: flex;align-items: left;justify-content:left;margin-top: -200px; padding: 300px;">
{{form(form)}}
{% endblock %}