
{%block body%}
<h1>Ajouter un participant</h1>
<div  style="display: flex;align-items: left;justify-content:left;margin-top: -200px; padding: 300px;">
{{form(form,{'attr': {'novalidate': 'novalidate'}})}}
{% endblock %}